
<div class="container">
  <span *ngIf="errorFlag"
        class="help-block">
    {{errorMsg}}
  </span>
  <h1>Welcome</h1>

  <form>
    <div class="form-group">

      <input [(ngModel)]="username"
             class="form-control"
             type="text"
             id="username"
             name="username"
             placeholder="username"
             #un="ngModel"/>
      <input [(ngModel)]="password"
             class="form-control"
             type="password"
             id="password"
             name="password"
             placeholder="password"
             #pw="ngModel"/>
    </div>
  </form>

  <a class="btn btn-primary btn-block" (click)="login(username, password)">Login</a>

  <a class="btn btn-primary btn-block" [routerLink]="['/main']">As Guest</a>

  <a class="btn btn-success btn-block" (click)="register()">Register</a>

</div>
