<nav class="navbar navbar-default navbar-fixed-top">
  <div class="row container-fluid">

    <div class="col-sm-12">


      <div class="navbar-text pull-left" style="margin-left: 0px;">
        <a [routerLink]="['/category' ]" class="navbar-link">
          <span class="glyphicon glyphicon-chevron-left"></span>
        </a>
      </div>


      <div class="navbar-header pull-left">
        <a class="navbar-brand">
          <b style="text-transform: capitalize">{{category}}</b>
        </a>
      </div>

      <div class="navbar-text pull-right" >
        <a [routerLink]="['/profile']">
          <span class="glyphicon glyphicon-user"></span>
        </a>
      </div>
    </div>
  </div>
</nav>

<div class="container-fluid">
  <div class="row container-fluid">
    <div class="title-hf">
      <h1>{{post.title}} </h1>
      <h6><b>Written by: {{postAuthor}}</b></h6>
    </div>
    <p [innerHTML]="post.text">
    </p>
  </div>

  <br>
  <br>

  <div>
    <h4 style="font-family: sans-serif">Comments:</h4>
    <ul class="list-group">

      <li class="list-group-item">
        <div class="row container-fluid">
          <app-comment-list></app-comment-list>
        </div>
      </li>

      <li class="list-group-item">
        <a class="btn btn-success btn-block" (click)="postComment()">Add a Comment</a>
      </li>

    </ul>
  </div>
</div>

<nav class="nav navbar navbar-default navbar-fixed-bottom">
  <div class="container-fluid">
    <p class="navbar-text pull-right">
      <a [routerLink]="['/profile']">
        <span></span>
      </a>
    </p>

  </div>
</nav>
