<!-- Top Nav -->
<nav class="navbar navbar-default navbar-fixed-top top-navbar-custom">
  <div class="container-fluid">

    <!--heading on the nav bar-->
    <div class="navbar-header pull-left">
      <a class="navbar-brand thick">
        <b>Profile</b>
      </a>
    </div>

    <!--tick mark-->
    <div class="navbar-text pull-right">
      <a  (click)="updateUser()"
          class="navbar-link">
        <span class="glyphicon glyphicon-ok"></span>
      </a>
    </div>

  </div>
</nav>


<div class="container">
  <div *ngIf=messageFlag
       class="alert alert-info">
    {{message}}
  </div>
  <form>
    <div class="form-group">
      <label for="username">Username</label>
      <input [(ngModel)]="username"
             name="username"
             type="text"
             class="form-control"
             id="username"/>
    </div>
  </form>

  <form>
    <div class="form-group">
      <label for="email">Email address</label>
      <input [(ngModel)]="email"
             name="email"
             type="email"
             class="form-control"
             id="email"/>
    </div>
  </form>

  <form>
    <div class="form-group">
      <label for="first-name">First Name</label>
      <input [(ngModel)]="firstname"
             name="firstname"
             type="text"
             class="form-control"
             id="first-name"/>
    </div>
  </form>

  <form>
    <div class="form-group">
      <label for="last-name">Last Name</label>
      <input [(ngModel)]="lastname"
             name="lastname"
             type="text"
             class="form-control"
             id="last-name"/>
    </div>
  </form>

  <form>
    <div class="form-group">
      <label for="password">Password</label>
      <input [(ngModel)]="password"
             name="password"
             type="password"
             class="form-control"
             id="password"
             placeholder="Password">
    </div>
  </form>

  <form>
    <div class="form-group">
      <label for="verifyPassword">Verify Password</label>
      <input [(ngModel)]="verify"
             name="verify"
             type="password"
             class="form-control"
             id="verifyPassword"
             placeholder="Verify Password">
    </div>
  </form>



  <div class=" button-group">
    <ul class="list-inline" style="text-align: center">
      <li *ngIf=postFlag class="list-inline-item">
          <button class="btn btn-info btn-block" routerLink="/user/post">My Posts</button>
      </li>
      <li class="list-inline-item">
        <button class="btn btn-info btn-block" routerLink="/user/follows">My Follows</button>
      </li>
      <li class="list-inline-item">
        <a class="btn btn-primary btn-block" (click)="changeUserStatus()">{{sub}}</a>
      </li>
      <li class="list-inline-item">
        <button class="btn btn-warning btn-block " (click)="professional()">{{pro}}</button>
      </li>
      <li>
        <button *ngIf=writerFlag class="btn btn-warning btn-block " (click)="writer()">{{wri
          }}</button>
      </li>

    </ul>
    <button class="btn btn-danger btn-block " (click)="logOut()">Logout</button>
  </div>


</div>

<br>

<!-- Footer -->
<nav class="navbar navbar-default navbar-fixed-bottom top-navbar-custom">
  <div class="container-fluid">
    <div class="navbar-text pull-right" style="text-decoration-color: white">

      <a [routerLink]="['/category']">
        <span class="glyphicon glyphicon-home"></span>
      </a>
    </div>

  </div>
</nav>
