<!DOCTYPE html>
<html lang="en">
<head>
  <!-- Meta tags for making website for mobile-->
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black">
  <meta name="viewport" content="initial-scale=1, user-scalable=no">


  <meta charset="UTF-8">
  <title>Post List</title>
  <link href="../../vendors/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet"/>
  <script src="../../vendors/bootstrap/dist/js/bootstrap.min.js"></script>



  <!-- STYLE sheet comes after all the libraries are loaded. Document style-->

  <link href="../../css/style.css" rel="stylesheet"/>
</head>


<body>
<nav class="navbar navbar-default navbar-fixed-top top-navbar-custom">
  <div class="container-fluid">
    <!--left icon-->
    <p class="navbar-text pull-left">
      <a class="navbar-link">
        <span class="glyphicon glyphicon-chevron-left"></span>
      </a>
    </p>

    <!--heading on the nav bar-->
    <p class="navbar-header pull-left">
      <a class="navbar-brand thick">
        <b>Home</b>
      </a>
    </p>

  </div>
</nav>

<div class="container-fluid hf-body">
  <h1>Your Posts</h1>
  <ul class="list-group">
    <li class="list-group-item">
      <!--<a class="navbar-link"></a>-->
      <a>
        Iranian Hacker Charged in HBO Hacking That Included 'Game of Thrones' Script
        <span class="navbar-link pull-right glyphicon glyphicon-cog">
        </span>
      </a>
    </li>
    <li class="list-group-item">
      <!--<a class="navbar-link"></a>-->
      <a>
        Iranian Hacker Charged in HBO Hacking That Included 'Game of Thrones' Script
        <span class="navbar-link pull-right glyphicon glyphicon-cog">
        </span>
      </a>
    </li>
    <li class="list-group-item">
      <!--<a class="navbar-link"></a>-->
      <a>
        Iranian Hacker Charged in HBO Hacking That Included 'Game of Thrones' Script
        <span class=" navbar-link pull-right glyphicon glyphicon-cog">
        </span>
      </a>
    </li>
    <li class="list-group-item">
      <!--<a class="navbar-link"></a>-->
      <a>
        Iranian Hacker Charged in HBO Hacking That Included 'Game of Thrones' Script
        <span class="navbar-link pull-right glyphicon glyphicon-cog">
        </span>
      </a>
    </li>
  </ul>
</div>

<!-- Footer -->
<nav class="nav navbar navbar-default navbar-fixed-bottom">
  <div class="container-fluid">
    <p class="navbar-text pull-right">
      <a class="navbar-link">
        <span class="glyphicon glyphicon-user"></span>
      </a>
    </p>

  </div>
</nav>

</body>
</html>
