input {
  margin-bottom: 5px;
}

.btn {
  margin-bottom: 5px;
}

body {
  margin-top: 60px;
  margin-bottom: 60px;
}

a{
  text-decoration: none;
}

a:hover
{
  text-decoration: none;
}

.top-navbar-custom {
  background-color: black;
}

.top-navbar-custom b {
  color: white;
}

.top-navbar-custom .glyphicon {
  color: white;
}

.footer-custom {
  background-color: black;
}

.footer-custom  .glyphicon {
  color: white;
}

#user-top-navbar {
  background-color: royalblue;
}

#user-top-navbar b {
  color: white;
}

#user-top-navbar .glyphicon {
  color: white;
}

#user-footer {
  background-color: royalblue;
}

#user-footer .glyphicon {
  color: white;
}


#website-top-navbar {
  background-color: black;
}

#website-top-navbar b {
  color: white;
}

#website-top-navbar .glyphicon {
  color: white;
}

#website-footer {
  background-color: black;
}

#website-footer .glyphicon {
  color: white;
}

.news-display-hf{
  background-color: #D8B445;
}

.title-hf {
  /*color: #7c795d;*/
  /*font-family: 'Trocchi', serif;*/
  /*font-size: 45px;*/
  /*font-weight: normal;*/
  /*line-height: 48px;*/
  /*margin: 0;*/
  /*text-align: center;*/
  color: #67BE9B;
  font-family: 'Trocchi', serif;;
  font-size: 180px;
  font-weight: 400;
  line-height: 180px;
  letter-spacing: 20px;
  margin-bottom: 60px;
  text-transform: uppercase;
  text-align: center;
}

.answer-title-hf {
  color: #c9d0d4;
  font-family: 'Helvetica Neue', sans-serif;
  font-size: 46px;
  font-weight: 100;
  line-height: 50px;
  letter-spacing: 1px;
  padding: 0 0 40px;
  border-bottom: double #555;
}

.article-hf {
  background-color: #2e6da4;
  padding-bottom: 40px;
}

.answer-hf {
  background-color: #777777 ;
  padding-bottom: 40px;
}

.question-hf {
  background-color: #D8B445;
  padding-bottom: 40px;
}

.date-hf { float: left }


.author-hf { float: right }

.content-hf {
  color: #4c4a37;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 18px;
  line-height: 32px;
  margin: 0 0 24px;
}

#pages-top-navbar {
  background-color: dimgrey;
}

#pages-top-navbar b {
  color: white;
}

#pages-top-navbar .glyphicon {
  color: white;
}

#pages-footer {
  background-color: dimgrey;
}

#pages-footer .glyphicon {
  color: white;
}

.mk-widget .mk-toolbar {
  background-color: ghostwhite;
  border-radius: 20%;
  opacity: 0.80;
  padding: 7px;
  right: 11px;
  position: absolute;
  z-index: 2;
}

.mk-widget {
  padding-bottom: 20px;
}

.mk-widget .mk-content {
  width: 100%;
}

.mk-video-container {
  position:relative;
  padding-bottom:56.25%;
  padding-top:30px;
  height:0;
  overflow:hidden;
  z-index: 1;
}

.mk-video-container iframe, .mk-video-container object, .mk-video-container embed {
  position: absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
}


